version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8086:8080"
    environment:
      - DB_URL=jdbc:mysql://db:3306/resell
      - DB_PASSWORD=${DB_PASSWORD}
      - SPRING_CLOUD_GCP_PROJECT_ID=resellplatform
      - GOOGLE_CLOUD_PROJECT=resellplatform
      - GOOGLE_APPLICATION_CREDENTIALS=/tmp/keys/google_credentials.json
    volumes:
      - C:/Users/prath/AppData/Roaming/gcloud/application_default_credentials.json:/tmp/keys/google_credentials.json:ro
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  frontend:
    build: ./frontend
    ports:
      - "8085:80"
    depends_on:
      - backend
    networks:
      - app-network

  db:
    image: mysql:8.0
    ports:
      - "3307:3306" # Expose on 3307 to avoid conflict with local mysql if running
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=resell
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  app-network:
    driver: bridge

volumes:
  db-data:
